// Fonts

$lato: "Lato", "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;


// Colors

$white: #ffffff;
$color: #000000;
$super-dark-grey: #111111;
$dark-grey: #222222;
$grey: #444444;
$light-grey: #666666;
$super-light-grey:#f2f2f2;
$ultra-light-grey:#ebebeb;
$green: #68b738;
$dark-green: #5eaa2f;
$border-grey: #e7e7e7;
$border-hover-grey: #cdcdcd;
$border-form: #bababa;
$logo-focus: #3e3e3e;
$logo-activ: #6b6b6b;
$error: #ff8282;

// Madia
