.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
  text-decoration: none;
  margin: 7px 0 40px;

  &:hover,
  &:focus {
    .academy__logo {
      color: $green;
    }
  }

  &:active {
    .academy__text,
    .academy__logo {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 22px;
    margin: 0 0 2px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 24px;
  }
}

.academy__text {
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  color: $grey;
}

.academy__logo {
  color: $light-grey;
  fill: currentColor;
}
