.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 280px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-bottom: 5px;
  }
}

.academy__text {
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  color: $grey;
}
