.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 5px;
  }
}

.card__link-img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: -91px auto 0;
  }
}

.card__wrapper {
  display: grid;
  row-gap: 5px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    row-gap: 19px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 25px;
  }
}

.card__link-title {
  display: block;
  text-decoration: none;
  width: 75px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 130px;
    margin: 0 auto;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 29px;
  }
}

.card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 160px;
    padding-bottom: 4px;
    border-bottom: 1px solid $moderate-grey;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    padding-bottom: 5px;
  }
}

.card__term {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__desc {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__button {
  grid-column: 1 / -1;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px;

  @media (min-width: $tablet-width) {
    padding: 10px 95px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 54px;
  }
}

.card--more {
  grid-template-columns: 1fr;
  row-gap: 0;
  justify-items: center;
  padding-top: 79px;
  position: relative;

  &::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus");
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: repeat(3, min-content);
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $super-light-grey;
    padding-top: 162px;

    &::after {
      width: 60px;
      height: 60px;
      top: 51px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }

  .card__title {
    @media (min-width: $tablet-width) {
      padding: 0 75px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px;
    }
  }
}

.card__text {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 22px 50px 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 35px 90px;
  }
}

.card__button--more {
  background-color: $super-light-grey;
  color: $grey;
  padding: 10px 95px;

  @media (min-width: $tablet-width) {
    padding: 10px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 40px;
  }

  &:hover,
  &:focus {
    background-color: $mat-grey;
  }

  &:active {
    color: $black;
  }
}
