.card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-grey;
}

.card__term {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.card__desc {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.card__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}

.card__text {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.card__button--more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey;
}
