.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
    margin-top: 81px;
  }
}

.catalog__item {
  padding: 20px 0 25px;
  position: relative;

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: $mat-grey;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $super-light-grey;
    padding-bottom: 40px;
  }
}
