.form__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  &--option {
    margin-top: 9px;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: $bright-grey;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--contact {
    margin-top: 47px;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: $bright-grey;
      top: -79px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form__title {
  padding: 0;
}

.form__list {
  list-style-type: none;
  margin: 0;
  margin-top: 38px;
  padding: 0;
}

.form__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(3, min-content);
  column-gap: 2px;
  row-gap: 7px;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey;
  padding-top: 14px;

  sup {
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    vertical-align: 0;
  }
}

.form__input {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  height: 45px;
  margin-left: 12px;
  padding: 14px;
  border: 1px solid $pastel-grey;

  &--contact {
    border: 1px solid $moderate-grey;
  }

  &::placeholder {
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $grey;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

// .form__item:not(:last-child) {
//   margin-bottom: 18px;
// }

.form__title {
  font-size: 24px;
  line-height: 26px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
}

.form__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 16px;
}
