.input {
  &:hover {
    border-color: $moderate-grey;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &:focus {
    border: 2px solid $grey;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &--error {
    border: 2px solid $error;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
