.intro--catalog {
  @media (max-width: 767px) {
    margin-top: 14px;
    padding-bottom: 40px;
    border-top: 1px solid $bright-grey;
    border-bottom: 1px solid $pale-grey;
  }
}

.intro--form {
  @media (max-width: 767px) {
    margin-top: 14px;
    border-top: 1px solid $bright-grey;
  }
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.intro__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 38px;
}
