.intro--catalog {
  @media (max-width: 767px) {
    margin-top: 14px;
    padding-bottom: 40px;
    border-top: 1px solid $bright-grey;
    border-bottom: 1px solid $pale-grey;
  }
}

.intro--form {
  @media (max-width: 767px) {
    margin-top: 14px;
    border-top: 1px solid $bright-grey;
  }
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.intro--form .intro__title {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    padding: 65px 40px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 55px;
  }
}

.intro__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 38px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 340px 65px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 890px 66px 0;
  }
}
