.job__title {
  font-size: 36px;
  list-style: 40px;
}

.job__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.job__item {
  font-family: $lato;
  font-size: 14px;
  list-style: 18px;
  color: $grey;
}
