.map__container {
  position: relative;
}

.map--index {
  background-color: $white;
}

.map__contact {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    gap: 90px;
    width: 565px;
    background-color: $white;
    position: absolute;
    top: 95px;
  }
}

.map__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 235px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 75px;
  }
}

.map__address {
  font-family: $lato;
  font-size: 14px;
  line-height: 20px;
  color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    width: 230px;
    padding-right: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 19px;
    text-align: left;
  }
}

.map__iframe-container {
  picture,
  img {
    display: block;
    margin: 0 auto;
  }
}

.map__iframe {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.map__iframe-container--no-js .map__iframe {
  display: none;
}
