.option {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.option--radio {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    padding-left: 42px;
  }
}

.option--check {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.option__item {
  position: relative;
}

.option--check .option__item {
  @media (min-width: $tablet-width) {
    padding-left: 15px;
  }
}

.option__item:not(:last-child) {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
  }
}

.option__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option__input--radio {
  position: absolute;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $moderate-grey;
  border-radius: 50%;
  top: -4px;
  left: 0;
  z-index: 2;

  &:checked::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: $green;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -6px;
    left: -15px;

    &:checked::before {
      width: 18px;
      height: 18px;
      top: 19px;
      left: 19px;
    }
  }
}

.option__input--check {
  position: absolute;
  margin: 0;
  width: 30px;
  height: 30px;
  background-image: url("../../images/icons/stack.svg#check-off");
  background-repeat: no-repeat;
  top: -4px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -6px;
  }
}

.option__input--check:checked {
  background-image: url("../../images/icons/stack.svg#check-on");
}

.option__label {
  padding-left: 45px;
  cursor: pointer;
}
