.product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-grey;
}

.product__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 14px;
  color: $grey;
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}
