.product {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    align-items: baseline;

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 244px;
      gap: 41px;
      align-items: center;
    }
  }
}

.product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 50px;
    padding: 0 3px 0 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 3px 0 0;
  }
}

.product__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 14px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    min-width: 40px;
  }

  @media (min-width: $desktop-width) {
    text-align: justify;
  }
}

.product__button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}
