.program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__heading {
  font-size: 24px;
  list-style: 37px;
  text-transform: uppercase;
}

.program__text {
  font-family: $lato;
  font-size: 14px;
  list-style: 18px;
  color: $grey;
}

.program__link {
  font-size: 16px;
  list-style: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
