.slider {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 276px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 280px;
    grid-template-rows: 662px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    height: 623px;
    top: -63px;
  }
}

.slider__image {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 89px;
  }
}

.slider__image--before img {
  object-fit: cover;
  object-position: left;
  height: 256px;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__image--after img {
  object-fit: cover;
  object-position: right;
  height: 256px;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: relative;
  bottom: 147px;
  left: 120px;
  cursor: pointer;

  span {
    color: $white;
    fill: currentColor;
    --color-slider-button: #666666;
    z-index: 1;
  }

  &::before {
    content: "";
    width: 4px;
    height: 256px;
    background-color: $light-grey;
    border-radius: 2px;
    position: absolute;
    bottom: -107px;
    left: 18px;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $green;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    span {
      --color-slider-button: #68b738;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  &:active {
    &::before {
      background-color: $dark-green;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    span {
      --color-slider-button: #5eaa2f;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  @media (min-width: $tablet-width) {
    bottom: 336px;
    left: 260px;

    &::before {
      height: 512px;
      bottom: -235px;
    }
  }
}
